---
layout: default
---
<div class="container padding-double">
    <div class="wrapper">
        <div class="wrapper">
            <img src="./img/Tyler.jpg" alt="Tyler, Tanner, and Charlie" class="img-rounded img-responsive">

            <div class="caption">
                {% capture content %}{% include index.md %}{% endcapture %}
                {% assign contentArray = content | markdownify | split: site.excerpt_separator %}
                {% for item in contentArray %}
                <p class="content">{{ item }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>