@import '../base/base';

.nav {
  background-color: $primary-red;
  font-weight: bolder;

  li {

    &.brand {
      a:hover {
        background-color: $primary-red;
        color: $white;
      }
    }

    a {
      border-bottom: none !important;
      background-color: $primary-red;
      color: $white;
      border: none;
    }

    a:hover {
      background-color: $white;
      color: $primary-red;
    }

    &.active {
      a,a:hover {
        background-color: $white;
        color: $primary-red;
      }
    }
  }
}

.navbar-bottom {
  height: 62px;

  .container {
    font-size: 2rem;
    text-align: center;
    color: $white;
    background-color: $primary-red;
    margin: 0 auto;
  }

  p, div, a {
    color: $white;
    font-size: 2rem;
  }

  p {
    margin-bottom: 0;
  }

  .fa {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}